$primary-color: #ff6ce2;
$secondary-color: #FFE0FE;
$background-color: #e6e6e6;
$white: #fff;
$black: #000;
$gray-light: #ddd;
$gray-medium: #ccc;
$gray-dark: #666;
$gray-darker: #333;

// Couleurs des statuts
$status-active: #28a745;
$status-inactive: #6c757d;
$status-low-stock: #ffc107;
$status-out-of-stock: #dc3545;
$status-warning-text: #856404;

$font-family: 'Space Grotesk', sans-serif;
$sidebar-width: 300px;
$border-radius: 1em;
$transition-speed: 0.3s;

//Confirmation achat
$success-color: #28a745;
$bg-light: #f9f9f9;
$border-light: #e0e0e0;
$shadow-sm: 0 4px 15px rgba(0, 0, 0, 0.2);
$shadow-md: 0 6px 20px rgba(0, 0, 0, 0.3);
$shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.1);

$star-color: #ffc107;
$star-size: 2.5rem;
$star-size-mobile: 2rem;
$star-inactive-color: $gray-light;

$blue-vendor: #6CD3FF;