$colP: #ff6ce2;
$font-family: 'Space Grotesk', sans-serif;
$white : white;
$black : black;
$gray-medium: #ccc;
$border-radius: 1em;
$primary-color: #ff6ce2;
$roseBtnHover : #e5639b;
$roseBorder : #f0a8d0;
$radioBtnCarteBg : #e8e8e8;
$radioBtnCarteBgHover : #dcdcdc;
$erreur : red;