$colP: #ff6ce2;

//paiement.php
$blanc : white;
$noir : black;
$roseBtn : #f07ab0;
$roseBtnHover : #e5639b;
$roseBorder : #f0a8d0;
$radioBtnCarteBg : #e8e8e8;
$radioBtnCarteBgHover : #dcdcdc;
$erreur : red;