$primary-color: #6CD3FF;
$secondary-color: #A9E5FF;
$background-color: #e6e6e6;
$white: #fff;
$black: #000;
$gray-light: #ddd;
$gray-medium: #ccc;
$gray-dark: #666;
$gray-darker: #333;

// Couleurs des statuts
$status-active: #28a745;
$status-inactive: #6c757d;
$status-low-stock: #ffc107;
$status-out-of-stock: #dc3545;
$status-warning-text: #856404;

$font-family: 'Space Grotesk', sans-serif;
$sidebar-width: 300px;
$border-radius: 1em;
$transition-speed: 0.3s;