$primary-color: #6CD3FF;
$secondary-color: #A9E5FF;
$background-color: #e6e6e6;
$white: #fff;
$black: #000;
$gray-light: #fafafa;
$gray-medium: #e0e0e0;
$gray-dark: #666;
$gray-darker: #333;
$gray-h3-produit: #6b7280;
$success-color: #27ae60;
$cancel-color: #95a5a6;
$danger-color: #ef4444;


$font-family: 'Space Grotesk', sans-serif;
$sidebar-width: 300px;
$border-radius: 1em;
$transition-speed: 0.3s;