@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use "variable" as *;
@use "mixin" as *;
@use "variable"as*;
@use "mixin" as*;
@use "variable"as*;
@use "mixin" as*;





// Styles
body {
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
}

header {
  a,
  a:hover,
  a.active {
    color: $black;
    text-decoration: none;
  }
}

/* Structure principale */
.dashboard {
  display: flex;
  height: 100vh;
}
.body{
  &__creercompte{
    width: 1440px;
    height: 1024px;
    background: linear-gradient(to left,$primary-color, $secondary-color);
    display: flex;
    justify-content: center;
  }
}
.form{
  &__creercompte{
    margin-top:209px;
    width: 542px;
    height: 542px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 18px;
  }
}
/* --- Barre latérale --- */
.sidebar {
  background: linear-gradient(to left, $primary-color, $secondary-color);
  width: $sidebar-width;
  @include flex-column;
  color: $black;
}
  .logo {
    padding: 15px;
  }

  .menu {
    @include flex-column;
    margin-top: 20px;

    a {
      @include flex-center;
      gap: 15px;
      padding: 20px;
      color: $black;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;
      @include transition(background);

      &:hover,
      &.active {
        @include menu-item-active;
      }

      &.disabled {
        @include disabled-state;
      }
    }
  }


/* --- Contenu principal --- */
main {
  flex: 1;
  @include flex-column;
  background: $white;

  /* --- Barre du haut --- */
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    padding: 59px 25px;
    border-bottom: 1px solid $gray-medium;
  }
  
  .user-info {
    @include flex-center;
    gap: 10px;
    font-weight: bold;
    font-size: 2em;
  }

  /* --- Contenu --- */
  .content {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 20px;

    a {
      text-decoration: none;
      color: inherit;
    }

    article {
      @include card-style;
      @include hover-lift;

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border-radius: math.div($border-radius, 2);
      }

      .titre {
        margin: 10px 0 5px;
        font-size: 1.2em;
        color: $gray-darker;
      }

      .description {
        color: $gray-dark;
        font-size: 0.9em;
        margin: 5px 0;
        flex-grow: 1;
      }

      .prix {
        font-size: 1.3em;
        font-weight: bold;
        color: $primary-color;
        margin-top: 10px;
        
        // Exemple avec color.adjust
        &:hover {
          color: darken-color($primary-color, 15%);
        }
      }
    }
  }
}